.visible, .visible-md, .visible-sm, .visible-lg, .visible-xxl {
  display: none;
}
.hidden, .hidden-md, .hidden-sm, .hidden-lg, .hidden-xxl {
  display: block;
}
@media (min-width: 576px) {
  .hidden-sm {
    display: none!important;
  }
  .visible-sm {
    display: block!important;
  }
}
@media (min-width: 768px) {
  .visible-md, .visible {
    display: block!important;
  }
  .hidden-md {
    display: none!important;
  }
}

@media (min-width: 992px) {
  .hidden-lg {
    display: none!important;
  }
  .visible-lg, .visible {
    display: block!important;
  }
}
@media (min-width: 1200px) {
  .hidden-xl {
    display: none!important;
  }
}
@media (min-width: 1400px) {
  .hidden-xxl {
    display: none!important;
  }
  .visible-xxl, .visible {
    display: block!important;
  }
}