$white-text-100: #fff;
$white-text-200: #ececec;

$grey-green: #BE9667;
$black-text-100: #333;
$black-text-200: #555;

$red-link-hover: #f84040;

$grey-text: #5F6467;
$white-text: #fff;

$black-bg: #1D1F22;
$white-bg: #fff;

$border-shadow: black;

/**
Buttons color
 */
$white-button: #fff;




.color-red 		{ color: #fd3635 !important; }
.color-pink		{ color: #fd40b3 !important; }
.color-orange 	{ color: #ff8b34 !important; }
.color-purple 	{ color: #a85ad4 !important; }
.color-blue 	{ color: #3dace1 !important; }
.color-cyan		{ color: #1abc9c !important; }
.color-green	{ color: #b2cc71 !important; }
.color-yellow	{ color: #ffc501 !important; }

.color-light    { color: #ffffff !important; }
.color-white    { color: #ffffff !important; }
.color-gray 	{ color: #f5f7f9 !important; }
.color-gray2 	{ color: #e0e0e0 !important; }
.color-dark 	{ color: #5f6467 !important; }
.color-dark2 	{ color: #323a45 !important; }
.color-black    { color: #111111 !important; }

.color-primary  { color: #337ab7 !important;}
.color-success  { color: #5cb85c !important;}
.color-info     { color: #5bc0de !important;}
.color-warning  { color: #f0ad4e !important;}
.color-danger   { color: #d9534f !important;}
