/* Начальные стили для элемента, который будет следовать за курсором, в нашем случае небольшой кружок */
.follow-cursor {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(174, 137, 95, 0.29);
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%); /* центрируем кружок */
  position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
  z-index: 999; /* чтобы элемент был над остальными элементами */
  pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
  transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
}

/* Активный класс для кружка при наведении на ссылку */
.follow-cursor_active {
  height: 38px;
  width: 38px;
  border-width: 1px;
  background: rgba(174, 137, 95, 0.07);
}

/* Скрываем декоративный элемент при ширине браузера меньше 992px */
@media (max-width: 991.98px) {
  .follow-cursor {
    display: none;
  }
}

footer.footer-section {
  position: relative;
  display: block;
  background-color: #16243d;
  overflow: hidden;
  z-index: 1;

  .footer-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.02;
    z-index: -1;
    background-image: url(../images/footer-mask.png);
  }


  ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
    background: #151414;
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  }
  .single-cta i {
    color: #0CE0FF;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;

    a {
      color: #757575;
      font-size: 15px;
    }
  }

  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
    padding-right: 10px;
    margin-bottom: 14px;
    font-size: 14px;
    color: #97a2b7;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #DD4B39;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #0CE0FF;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
    color: #0CE0FF;
  }
  .footer-widget ul li a {
    color: #97a2b7;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #111D32;
    border: 1px solid #111D32;
    color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    border: 0px solid #111D32;
    background-color: transparent;
    color: #fff;
    transition: all 500ms ease;
    padding: 11px 15px;

    &:hover {
      i {
        color: #015fc9;
      }
    }
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area{
    background: #111D32;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #97a2b7;
  }
  .copyright-text p a{
    color: #0CE0FF;
  }
  .footer-menu {
    float: right;
    li {
      display: inline-block;
      margin-left: 20px;
    }
  }
  .footer-menu li:hover a{
    color: #0CE0FF;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #97a2b7;
  }
}


.scroll-to-target {
  cursor: pointer;
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #015fc9;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
  border-radius: 50%;
  transition: all 0.4s ease;

  i {
    color: #ffffff;
    font-size: 18px;
    line-height: 45px;
  }
}